// Specific CSS for your home-page

.banner-text{
  color: white;
}

.card-display-background {
  background-color: white;
  opacity: 0.9; 
}


.card-trips {
  border: 2px solid #362D30;
  box-shadow: 3px 3px 3px #E9E4DD;
  margin-bottom: 22px;
  border-radius: 20px;
}

.fp-big-text {
  margin-bottom: 24px;
}

.banner-text {
  margin-top: 96px;
  color: #E9E4DD!important;
}

.sb-title {
  color: #E9E4DD!important;
}

