// Specific CSS for your home-page

.banner-text{
  color: white;
}

.card-display-background {
  background-color: white;
  opacity: 0.8; 
}

.card-trips {
  border: 2px solid #362D30;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 22px;
}


// .
// btn btn-dark mt-1 mb-1