<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
        <div class="card-product">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="profile picture" />
          <div class="card-product-infos">
            <h2><%= current_user.first_name %> <%= current_user.last_name %> </h2>
            <p>Email: <%= current_user.email %></p>
            <p>Cuisine: <%= current_user.cuisine %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
