<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Cookery with <i class="fas fa-heart"></i> from Deep, Mohammed, Haseeb and Ibrahim
  </div>
</div>


<%# <ul class="social">
      <li>
        <a href="https://wwww.facebook.com">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="# ">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="# ">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="# ">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul> %>