.display-booking {
width:75%;
justify-content: center;
}

.display-booking-container {
  display: flex;
  justify-content:center;
}

.delete-booking-button {
margin: 0 auto;
display: flex;
justify-content:center;
width:20%;
}

.booking-header{
  color: grey;
}
