.footer {
  background: #e9e4dd;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  padding-top: 10px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color:#346FC2;
}

.footer .fa-heart {
  color: #D23333;
}

#main-footer {
  position: relative;
  margin-bottom: -100px;
  clear: both;
}
