.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: #e9e4dd;
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#search_bars {
  text-align: center;
  margin-right: 20px;
  width: 70%;
  border: 3px;
  padding: 40px;
}

.nlhome {
  color: black!important;
  font-size: 20px!important;
  margin-left: 8px!important;
}

.avatar {
  margin-top: 3px;
  margin-bottom: 3px;
}
