

.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 70vh;
  margin-top: -40px; //This is a provisional fix for covering the grey space at the top of banner. If someone finds the cause of this problem, please amend this.
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.search_bar {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}

  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }

  .banner-content {
    border: 0px;
  }

  p{
    color: black;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 30px;
  }


.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 17px;
  padding-top: 20px;
  padding-right:20px;
  padding-left: 20px;
  }


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);

}

.card-trips > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trips h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-trips h3 {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trips .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 15px;
  top: -40px;
  width: 60px;
}

  .btn {
    padding: 10px 10px;
    border-radius: 3px;
    // border: solid 0.8px black;
    position: center;
    // background-color: black;
    box-shadow: 1px 2px 3px grey;
  }

  .btn:hover {
  background-color: grey;
  transition: 0.8s;
  border-color: grey;

  }

  .btn-flat {
    color: black;
    background-color: white;
    border: white;
    padding-bottom: 2px;

  }

  .btn-flat:hover {
    background-color: lightgrey;
  }
