.card-product {
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  height: 170px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 20px;
  margin-top: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}


.books {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.books h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 16px;
  text-align: center;
}

#addbutton {
  border: 1px black;
  margin-top: 10px;

}

.profile-text {
  color: grey;
  font-family: 'Raleway', sans-serif;
}

.raleway {
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
