.container {
  text-align: center;
}


.home {
  margin-bottom: 20px;
  margin-top: 20px;
}

.bookbutton {
  margin-bottom: 20px;
  margin-top: 40px;

}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  grid-template-columns: 1fr 1fr;
}

.card-trip > img {
  padding-top: 30px;
  height: 470px;
  width: 40%;
  border-radius: 50%;
}

.description {
  height:300px;
  text-align: center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: center;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-align: center;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  text-align: center;
}
